* {
    margin: 0px;
    padding: 0px;
    
}

body {
    font-family: 'Roboto', sans-serif;
    /* height: 3000px; */
}
h3 {
    font-weight: 300;
    font-style: normal;
}
.first__page{
   background: 
   linear-gradient(0deg, #EBF3FB 8.84%, 
   rgba(152, 195, 232, 0) 31.12%);;
   height: 768px;
   width: 1366px;
   margin: auto;
}
/* header */
.container {
    max-width: 1140px;
    margin: auto;   
}
.header-menu {
   margin-top: 32px;
}
.menu-items {
    display: flex;
    margin: 10px 10px;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}

.img-header {
    width: 45px;
    height: 48px;
}
/* end header */

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-heading {
    width: 512px;
    height: 148px;
    letter-spacing: 0.04em;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    margin-top: 115px;
}

.hero-text {
    width: 425px;
    height: 82px;
    font-size: 16px;
    line-height: 26px;  
    margin-top: 32px;
    color: #1F3F68;
    opacity: 0.6;
}
.hero-right {
    background-image: url(/image/heroimage.png);
    width: 553.68px;
    height: 481.39px;
    margin-top: 115px;
}

.hero-btn {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    width: 220px;
    height: 56px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: 0;
    margin-top: 70px;
}
/* what we do */
.what__we__do {
    margin-top: 64px;
    height: 585.13px;
    
}

.what-we-do-heading {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    
}

.card {
    margin-top: 110px;
    /* width: 359px; */
    height: 480px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding-left: 32px;
    padding-right: 60px;
    margin-right: 32px;
    
}
.card-image {
    width: 172px;
    height: 121px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.card-heading-text {
    width: 283px;
    height: 55px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-top: 52px;
}
.card-text {
    width: 268.31px;
    height: 94.2px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-top: 14px;
    margin-bottom: 30px;
}

.card-ancor {
    font-size: 14px;
    line-height: 30px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
/* our project */
.our__project {
    margin-top: 136px;
    margin-bottom: 112px;
}
.our-project-heading {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.our-project-text {
    width: 750px;
    height: 52px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    margin: auto;
    margin-top: 32px;
}

.our-project1 {
    background-image: url(/image/ourProject1.png);
    width: 1140px;
    height: 480px;
    background-repeat: no-repeat;
    padding-top: 64px;
    margin-top: 64px;
    border-radius: 10px;
   
}
.our-project1::before {
    background: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
}
.our-project1-text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 64px;
}

.wrap-our-project2-3 {
    display: flex;
    justify-content: space-between;
}

.our-project2 {
    background-image:url(/image/ourProject2.png);
    width: 554px;
    height: 417px;
    border-radius: 10px;
    padding-top: 32px;
    background-repeat: no-repeat;
}
.our-project2::before {
    background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
}
.our-project2-text {
    font-size: 28px;
    line-height: 46px;
    margin-left: 32px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.our-project3 {
    background-image:url(/image/ourProject3.png);
    width: 554px;
    height: 417px;
    border-radius: 10px;
    padding-top: 32px;
    background-repeat: no-repeat;
}

.our-project3::before {
    background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
}
.our-project3-text {
    font-size: 28px;
    line-height: 46px;
    margin-left: 32px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

/* footer */

.footer {
    
    background: #316099;
    height: 675px;
    width: 1366px;
    margin: auto;
    /* padding-top: 91px; */
    
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
    padding-top: 91px;
}

.footer-top-heading {
    width: 340.96px;
    height: 92px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
}

.footer-top-text {
    width: 494.77px;
    height: 80px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 32px;
}

.footer-top-right {
    margin-top: auto;
    margin-bottom: auto;
}
.footer-btn {
    color:white;
    text-align: center;
    width: 236.63px;
    height: 56px;
    background: #5A98D0;
    border: 0px;
}

.footer-bottom {
    margin-top: 64px;
}
.footer-bottom-list {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;  
    margin-left: 12px;
}
.footer-bottom-list > li > a {
    text-decoration: none;
    color: #FFFFFF;
}   

.copy-rights {
    color:#FFFFFF;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.4;
    letter-spacing: 0.05em;
    margin-top: 64px;
}

/* contacts */

.title {
    max-width: 1366px;
    height: 250px;
    background-image: url(../image/title.png);
    margin: auto;
    margin-top: 55px;
    padding-top: 60px;
    background-repeat: no-repeat;
}

.title-heading {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.title-text {
    width: 780px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin: auto;
}

.content__info__form {
    display: flex;
    justify-content: space-around;
    margin-top: 57px;
    margin-bottom: 96px;

}



.form {
    width: 540px;
    height: 800px;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding-top: 56px;
    padding-left: 56px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.form > label, input, textarea {
    opacity: 0.8;
}
.form-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 48px;
}

.form-input {
    width: 428px;
    height: 72px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 43px;
    margin-bottom: 32px;
}
.textarea {
    width: 428px;
    height: 144px;
    padding-top: 21px;
    margin-bottom: 72px;
}

.form-btn {
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    border: 0em;
    color: white;
    text-align: center;
}
.content-info{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    max-width: 301px;
    max-height: 668px;
    
}

.content-info-img {
    margin-bottom: 56px;
}
.adress-phone-online-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 438px;
}
.adress-text {
    /* margin-top: 24px; */
    width: 299px;
    height: 53px;
    opacity: 0.6;
}

.phone-ancor {
    margin-top: 24px;
    text-decoration: none;
    color: #1F3F68;
    display: flex;
    /* justify-content: space-between; */
}
.phone-ancor > a {
    text-decoration: none;
    color: #1F3F68;
}
.phone-img {
    background-image: url(../image/phoneImage.png);
    margin-right: 16px;
    width: 24px;
    height: 24px;
}

.online-service-text {
    /* margin-top: 24px; */
    width: 299px;
    height: 53px;
    opacity: 0.6;
}

.site-ancor {
    margin-top: 24px;
    text-decoration: none;
    color: #1F3F68;
    display: flex;
    /* justify-content: space-between; */
}
.site-ancor > a {
    text-decoration: none;
    color: #1F3F68;
}
.site-img {
    background-image: url(../image/webService.png);
    margin-right: 16px;
    width: 24px;
    height: 24px;
}
.mail-img {
    background-image: url(../image/mailService.png);
    margin-right: 16px;
    width: 24px;
    height: 24px;
}

.yandex-maps {
    margin-bottom: 112px;
}




